* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a {
    color : #E1E2E2;
}

.body {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #1D2228;
    color: #E1E2E2;
}

.layout {
    width: 1200px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    height: 200px;
    line-height: 200px;
    border: 1px solid #E1E2E2;
    text-align: center;
}

.container {
    display: flex;
    min-height: 300px;
}

.nav {
    width: 200px;
    flex-shrink: 0;
    border-left: 1px solid #E1E2E2;
    border-right: 1px solid #E1E2E2;
}

.nav ul {
    list-style: none;
    padding: 20px 0 0 20px;
}

.nav li {
    padding-bottom: 5px;
}

.section {
    width: 100%;
    position: relative;
    border-right: 1px solid #E1E2E2;

}

.deleter_area {
    position: absolute;
    top: 35px;
    left: 13px;
}

#delete {
    margin-left: 10px;
}

.write_area {
    position: absolute;
    top: 20px;
    right: 20px;
}

.section_container {
    width: 100%;
    flex-shrink: 1;
    margin-left: -1px;
    border-left: 1px solid #E1E2E2;
}

.section_container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.search_area {
    margin: 20px 0;
}

.borad {
    width: 100%;
}

.post_area {
    border-top: 1px solid #E1E2E2;
}

.post {
    display: grid;
    grid-template-columns: 40px 1fr 40px;
}

.side {
    width: 40px;
    padding: 10px 0;
    text-align: center;
}

.side input {
    margin-top: 3px;
}

.post_info {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 10px 0;
}

.create_date {
    width: 120px;
    text-align: center;
}

.post:not(:last-child) .post_info {
    border-bottom: 1px solid #E1E2E2;
}

.page {
    margin: 20px 0;
}

.page ul li {
    padding-left: 20px;
    text-decoration: none;
    list-style: none;
    display: inline;
}

.page ul li a{
    text-decoration: none;
}

.footer {
    height: 200px;
    line-height: 200px;
    text-align: center;
    border: 1px solid #E1E2E2;
}