.insert_area {
    display: flex;
    justify-content: center;
}   
.insert_area form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

#title {
    margin: 20px 0;
    width: 100%;
}

#content {
    width: 100%;
    height: 500px;
}

#insert {
    width: 150px;
    height: 30px;
    margin: 20px 0;
}